@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Inter", sans-serif;
}

.icon-size{
  height: 70px;
  width: 70px;
}
.about-icon-size{
  height: 30px;
  width: 30px;
}